@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$Dark-cyan: hsl(185, 75%, 39%);
$Very-dark-desaturated-blue: hsl(229, 23%, 23%);
$Dark-grayish-blue: hsl(227, 10%, 46%);
$Dark-gray: hsl(0, 0%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: $Dark-cyan;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $Dark-cyan;
  height: 100vh;
  overflow: hidden;

  .background img {
    position: absolute;

    height: auto;
  }

  .back1 {
    width: 1000px;
    top: -400px;
    left: -50px;
  }

  .back2 {
    width: 875px;
    bottom: -400px;
    right: 90px;
  }

  .card {
    color: $Very-dark-desaturated-blue;
    position: relative;
    width: 350px;
    height: 375px;

    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 20px 50px -20px rgba(0, 0, 0, 0.3);
  }

  .card-head {
    background-image: url(../images/bg-pattern-card.svg);
    background-size: cover;
    height: 140px;
  }

  .card-info {
    padding: 5px 30px;
    height: 145px;
    border-bottom: 1px solid $Dark-gray;

    .img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 5px solid #fff;
      overflow: hidden;
      margin: -55px auto 30px auto;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .name {
      margin-top: -10px;
      font-size: 1rem;
      margin-bottom: 6px;
    }

    .age {
      color: $Dark-grayish-blue;
      font-weight: 400;
      margin-left: 5px;
    }

    .city {
      color: $Dark-grayish-blue;
      font-weight: 400;
      font-size: 0.75rem;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }
  }

  .card-footer {
    display: flex;
    justify-content: center;
    height: 90px;
    margin-top: 25px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .item:first-child {
      margin-left: 25px;
    }

    .item:last-child {
      margin-right: 25px;
    }

    .value {
      font-size: 1rem;
      font-weight: 700;
    }

    .meta {
      color: $Very-dark-desaturated-blue;
      margin-top: 5px;
      font-weight: 400;
      font-size: 0.55rem;
      opacity: 0.6;
      letter-spacing: 1.5px;
    }
  }
}

/* Responsive */

@media (max-width: 1440px) {
  .center {
    .back1 {
      top: -513px;
      left: -309px;
    }

    .back2 {
      bottom: -521px;
      right: -169px;
    }
  }
}
@media (max-width: 375px) {
  .center {
    .card {
      width: 325px;
    }
    .back1 {
      width: 800px;
      top: -480px;
      left: -589px;
    }

    .back2 {
      width: 800px;
      bottom: -462px;
      right: -603px;
    }
  }
}
